XML/Exam/ExamSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="exam">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="task">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" type="xs:string" />
							<xs:element minOccurs="0" name="image" type="xs:string" />
							<xs:element name="questions">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="value">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="regex" type="xs:string" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedByte" use="required" />
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="time" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>